.table-template-container {
  width: 100%;
  caption-side: bottom;
  border-top: 1px dashed #ebebeb;
  border-bottom: 1px dashed #ebebeb;

  thead {
    border-bottom: 1px solid #ebebeb;
    th {
      opacity: 0.5;
      font-weight: 100;
    }
  }

  td,
  th,
  .caption-td {
    padding: 10px 10px;
    text-align: left;
  }

  // align right for every column except the first
  td + td,
  th + th {
    text-align: right;
  }

  .table-aggregate-label {
    float: left;
  }
  .table-aggregate-value {
    float: right;
  }
}
