.color-pallete1 {
  color: white;
  background-color: #ec615e;
}

.color-pallete2 {
  color: #1b2124;
  background-color: white;
}

.shadow-pallete1 {
  -webkit-box-shadow: 0px 5px 9px 6px #f4fefb;
  box-shadow: 0px 5px 9px 6px #f4fefb;
}
.shadow-pallete2 {
  -webkit-box-shadow: 0px 5px 9px 6px #40514e;
  box-shadow: 0px 5px 9px 6px #40514e;
}
